
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');


*, 
*::before,
*::after  {
  box-sizing: border-box;
}

:root {
  font-size: 100%;

}


body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  line-height: 1.5;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 22%);
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  z-index: 1;
}

h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
}

h6 {
  color: hsl(0, 0%, 100%);
  margin: 0;
}

p {
  color: hsl(0, 0%, 100%);
}



/* Top navigation */

nav {
  width: 100%;
  height: 60px;
  margin: 0 0 3em 0;
  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(56, 56, 56, 0.243); 
  backdrop-filter: blur(5px); 
  transition: all 0.3s ease; 
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
  
.Mslogo {
  list-style-type: none;
}

.statusContainer {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 2%, 59%, 0.47);
  padding: 0.4em 1em;
  font-size: 0.875em;
  border-radius: 4px;
}
  
.workStatus {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
  
  /* Social links */
  
.social-links {
display: flex;
gap: 1em;
height: 32px;
}
  
.social-icon {
  transition: transform 0.3s ease;
  width: 32px;  /* Set a consistent width */
  height: 32px; /* Set a consistent height */
  display: block;
}
  
.social-icon:hover {
  transform: scale(1.1);
} 
  
 

  


/* ===== PROJECT PAGE STYLES ===== */

.aboutProject {
  display: flex;
  justify-content: center;
  gap: 4em;
}


#project-display {
  padding: 0em;
  max-width: 600px;
}
  
#project-id {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%); 
  margin-bottom: 0.5em;
}
  
#project-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #dedede;  
}



/* right section */

.projectDetails {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.projectLinkButton {
  display: flex;
  border-bottom: 3px solid transparent;
  width: fit-content;
}

.projectLink {
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease;
  text-decoration: none;
}

.projectLinkButton:hover {
  border-bottom: 3px solid hsl(0, 0%, 100%);

}

.projectAboutTitle {
  font-size: 1.125em; 
}


/* buttom Navigation */

.projectButtomNav {
  display: flex;
  justify-content: space-between;
  margin: 4em 0 0 0;
  padding: 0 2em;

  position: fixed;
  bottom: 60;
  left: 0;
  z-index: 1000;
}

.previousBtn, .nextBtn {
  border-bottom: solid 3px transparent;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  padding-bottom: 5px;
}

.previousBtn:hover, .nextBtn:hover {
  border-bottom: solid 3px white;
}

.readcasestudyBtn {
  background-color: hsl(35, 96%, 35%);
  border: none;
  border-radius: 24px;
  color: hsl(0, 0%, 100%);
  padding: 0 3em;
}

  












































/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em 01.5em 0 1.5em;
    padding: 7em 0 3em 0;
    border-radius: 16px;
    background-color: hsl(0, 0%, 24%);
    
  }
  
  .footerCopyright, .footerBragCopy  {
    color: hsl(0, 0%, 80%);
  }
  
  .footerCopyright {
    font-size: small;
  }
  