/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');



*, 
*::before,
*::after  {
  box-sizing: border-box;
}

:root {
  font-size: 100%;

  /* variables */

  /* Light theme variables */
  --brand-color: hsl(6, 100%, 62%);

  /* Background colors */
  --bg-color: hsl(29, 100%, 98%) ;
  --bg-button-primary: hsl(13, 100%, 65%);
  --bg-btn-sec: hsl(50, 10%, 60%);
  --btn-hover-sec: hsl(49, 14%, 69%);
  --button-hover-bg: hsl(13, 100%, 20%);
  --button-hover-sec: hsl(50, 12%, 50%);
  --bg-footer: hsl(30, 100%, 97%);

  /* circle blinker animation */
  --bg-color-circleblinker: hsl(93, 77%, 42%);
  --bg-badge:hsl(69, 52%, 87%);
  --text-badge: hsl(85, 36%, 35%);

  /* Text colors */
  --text-color: hsl(14, 4%, 35%);
  --text-button-primary: hsl(0, 0%, 100%);
  --text-white: hsl(0, 0%, 100%);
  --text-color-eversend: hsl(243, 99%, 65%);
  --text-color-grey: hsl(0, 0%, 29%);
  --text-metrics: hsl(0, 0%, 29%);
  --text-brand: var(--brand-color);

  /* UI elements */
  --grid-color: hsl(68, 52%, 91%);
  --nav-bg: hsla(0, 0%, 97%, 0.243);
  --footer-bg: hsl(187, 0%, 95%);
  
  /* Borders */
  --border-text: hsl(189, 51%, 7%);
  --border-link-eversend: hsl(0, 0%, 28%);
  --border-link-grey: hsl(0, 0%, 29%);

  /* Shadows */
  --boxshadow-button: hsl(0, 0%, 12%);

  

}

.dark-mode {
  /* Dark theme variables */
  --brand-color: hsl(6, 100%, 72%); 

  /* Background colors */
  --bg-color: hsl(230, 15%, 16%); 
  --bg-button-primary: hsl(13, 100%, 65%); 
  --bg-btn-sec: hsl(50, 10%, 60%); 
  --btn-hover-sec: hsl(230, 15%, 50%); 
  --button-hover-bg: hsl(13, 100%, 75%); 
  --button-hover-sec: hsl(230, 15%, 55%); 
  --bg-footer: hsl(230, 15%, 12%); 

  /* circle blinker animation */
  --bg-color-circleblinker: hsl(93, 77%, 52%); 
  --bg-badge: hsl(230, 20%, 25%); 
  --text-badge: hsl(85, 60%, 70%); 

  /* Text colors */
  --text-color: hsl(0, 0%, 85%); 
  --text-button-primary: hsl(0, 0%, 100%); 
  --text-white: hsl(0, 0%, 100%); 
  --text-color-eversend: hsl(243, 99%, 75%); 
  --text-color-grey: hsl(0, 0%, 70%);
  --text-metrics: hsl(0, 0%, 100%); 
  --text-brand: var(--brand-color);

  /* UI elements */
  --grid-color: hsl(230, 15%, 25%); 
  --nav-bg: hsla(227, 15%, 12%, 0.243); 
  --footer-bg: hsl(230, 15%, 10%); 
  

  /* Borders */
  --border-text: hsl(189, 51%, 85%); 
  --border-link-eversend: hsl(0, 0%, 60%);
  --border-link-grey: hsl(0, 0%, 50%);

  /* Shadows */
  --boxshadow-button: hsl(230, 20%, 25%);
 
}


body {
  margin: 0;
  font-family: 'Geist',  sans-serif;
  line-height: 1.5;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

/* Theme switcher styling */

.dark-icon, .light-icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dark-icon:hover, 
.light-icon:hover {
  transform: scale(1.1);

}


/* Theme icon visibility */
.dark-icon {
  display: none; 
}

.light-icon {
  display: block; 
}

.dark-mode .dark-icon {
  display: block; 
}

.dark-mode .light-icon {
  display: none; 
}


/* Main container */
.main-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 100px;
  z-index: 1;
  
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    /* First line */
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
   
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px);
  background-position: 
    0 0,    
    24px 0; 
  background-size: 
    299px 100%,  
    299px 100%;  
  z-index: -999;
  pointer-events: none;

   /* Animation properties */
  opacity: 0; 
  animation: gridFadeIn 1.2s ease-out forwards; 
  animation-delay: 0.3s; 
}


.h1Copy {
  font-size: 2em;
  line-height: 150%;
  font-weight: 100;
  color: var(--text-color);
  max-width: 60%;
  margin: 0 0 2em 0;
}



p {
  font-size: 1em;
  font-weight: 400;
  max-width: 86%;
  color: var(--text-color);
}

ul {
  margin: 0;
  padding-left: 1em;
}

li {
  color: var(--text-color);
  font-size: 0.875em;
  font-weight: 300;
  max-width: 75%;
  padding: 0;

}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}



/* Top navigation */
 
nav {
  width: 100%;
  height: 60px;
  margin: 0 0 3em 0;
  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--nav-bg);
  backdrop-filter: blur(5px); 
  transition: all 0.3s ease; 
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Mslogo {
  list-style-type: none;
}


/* socail icons */

.socials {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none; 
  padding: 0;
  margin: 0 1em 0 0;
}


.social-icon  {
  transition: transform 0.3s ease;
  width: 28px;  
  height: 28px; 
  display: block;
}

.social-links a:hover .social-icon {
  transform: scale(1.1);
  opacity: 100;
}

.emailIcon {
  width: 29px;  
  height: 29px;
}



/* Badge */

.ring-container {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: var(--bg-color-circleblinker);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}


.ringring {
  border: 2px solid var(--bg-color-circleblinker);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  animation: pulsate 1.5s ease-out infinite;
  opacity: 0;
  z-index: 1;
}

.workStatusContainer {
  color: var(--text-badge);
  background-color: var(--bg-badge);
  padding: 0.2em 0.8em 0.2em 0.3em;
  font-size: 0.875em;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 0.2em;
  white-space: nowrap;
}

.workstatusText {
  margin: 0;
  font-size: 0.8125em;
  font-weight: 500;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



/* Introduction */

#introduction span {
  opacity: 1;
  visibility: visible;
}


.introduction {
  max-width: 680px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 2em 0;
}

.introduction span {
  display: inline-block;
}


.eversend {
  color: var(--text-color-blue);
  border-bottom: 1.5px solid var(--border-link-grey);
  transition: border-color 0.3s ease; 
}

.eversend:hover {
  border-bottom-color: var(--border-eversendblue);
  color: var(--text-color-eversend);
}


/* read more button */
/* 
.read-more-btn {
  border: none;
  border-radius: 24px;
  background-color: var(--bg-button-primary);
  color: var(--text-button-primary);
  font-family: inherit;
  padding: 0.5em 1em;
  margin: 0.4em 0 0 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: var(--button-hover-bg);
  color: var(--text-button-primary);
} */

.read-more-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 0.9em 0 0 0.2em;
  background-color: var(--bg-btn-sec);
  color: var(--text-button-primary);
  font-size: 0.8em;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow: -6px 6px 0 var(--boxshadow-button);
  transition: all 0.08s cubic-bezier(0.3, 0.7, 0.4, 1);
  text-decoration: none;
  width: fit-content;

}

.read-more-btn:hover {
  background-color: var(--button-hover-sec);
  transform: translate(-1px, 1px);
  box-shadow: -5px 5px 0 var(--boxshadow-button);
}

.read-more-btn:active {
  transform: translate(-6px, 6px);
  box-shadow: 0px 0px 0 var(--boxshadow-button);
}


/* read more content */

.read-more-content {
  display: none;
}

.read-more-content.show {
  display: block;
}

 
/* Text colors */
 
.greeting, 
.bio, 
.experience, 
.skills, 
.goals  {
  color: var(--text-color)
}


.text{
  color: var(--text-brand);
  font-weight: 600;
}


.metrics {
  color: var(--text-metrics);
  font-weight: 600;
} 


/* buttom section of hero page */

.buttomSectionWrapper{
  max-width: 680px;
  width: 50%;
}

/* Segment control section */

.segmentControl {
  margin: 0 0 1.5em 0;

}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 300px;
  display: flex;
  gap: 1em;
}

input[type="radio"] {

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  cursor: pointer;
  position: absolute;
  opacity: 0;

}


label {
  flex: 1; /* Makes each label expand equally */ 
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex; 
  position: relative; 
  
}

label span {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 2em;
  overflow: hidden; 
  text-align: center;
  cursor: pointer; 
  white-space: nowrap;  
  padding: 0 1em;
}



/* input[type="radio"]:checked + span {
  background-color: hsl(0, 0%, 69%);
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 16px;
  color: hsl(0, 0%, 100%);
} */

/* Disabled state - applied to all non-checked labels */

/* input[type="radio"]:not(:checked) + span {
  background-color: hsl(0, 0%, 29%);
  border-radius: 16px;
  color: hsl(0, 0%, 80%);
  cursor: pointer;
} */

/* Hover state  only for non-disabled labels */

/* label:hover input[type="radio"]:not(:checked) + span {
  background-color: hsl(0, 0%, 65%);
  color: hsl(0, 0%, 100%);
  opacity: 0.9;
} */

/* selected work title */

.pageTitle {
  font-size: 1.5em;
  line-height: 120%;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1em;
}



/* projects list section */

#works {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 0 3em 0;
}

.work-item {
  display: flex;
  width: 100%;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%; 
}

.projectLink {
  display: flex;
  gap: 2em;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: solid 3px transparent;
  transition: transform 0.3 ease, border-bottom-color 0.3s ease;
  position: relative;
  padding: 0 0 1em 0;
  width: 100%;
  isolation: isolate;
  transition: transform 0.3s ease;
}

.projectLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--border-text);
  transition: width 0.4s ease-out;
  z-index: 1;
}

/* .projectLink:hover {
  border-bottom: solid 3px var(--border-text);
  color: var(--text-color);
  transform: translateY(-2px);
} */

.projectLink:hover {
  color: var(--text-color);
  transform: translateY(-2px);
}

.projectLink:hover::before {
  width: 100%;
}

.projectLink::after {
  content: '';
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 350px;
  opacity: 0;
  transition: opacity 0.3s ease, right 0.3s ease;
  pointer-events: none;
  z-index: 10;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px hsla(0,0%,0%,0.2);
  background-size: cover;
  background-position: center;
}

.projectLink:hover::after {
  opacity: 1;
  right: -120px;
}

/* Different images for different projects */

.projectLink[data-project="001"]::after  {
  background-image: url('/Images/Substack\ iOS\ 33.png');
}

.projectLink[data-project="002"]::after {
  background-image: url('');
}

.projectLink[data-project="003"]::after {
  background-image: url('');
}

.projectLink[data-project="004"]::after {
  background-image: url('');
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em 01.5em 0 1.5em;
  padding: 7em 0 3em 0;
  border-radius: 16px;
  background-color: var(--bg-footer);
  
}

.footerConversionWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 0 20em 0;
}

.footerCopyright, .footerConversionCopy {
  color: var(--text-color);
}


.footerConversionCopy {
  text-align: left;
  font-size: 3em;
  font-weight: 600;
  max-width: 660px;

}


.footerCTA {
  display: flex;
  align-items:start;
  flex-direction: column;
  gap: 1em;

}

.getInTouchWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
  padding-bottom: 0.5em;
}

.getInTouchWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--bg-button-primary);
  transition: width 0.4s ease-out;
}


.getInTouchWrapper:hover::after {
  width: 100%;
}

.getInTouch {
  color: var(--bg-button-primary);
  font-size: 2em;
  text-decoration: none;
}



.redirectIcon {
  width: 40px;
  height: 40px;
}

/* 
.getInTouch {
  text-decoration: none;
  border: none;
  border-radius: 24px;
  background-color: var(--bg-button-primary);
  color: var(--text-button-primary);
  font-family: inherit;
  padding: 0.5em 3em;
  transition: all 0.3s ease;
  cursor: pointer;
} */
/* 
.getInTouch:hover {
  background-color: var(--button-hover-bg);
  color: var(--text-button-primary);
} */

/* .getInTouch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 3em;
  background-color: var(--bg-button-primary);
  color: var(--text-button-primary);
  font-family: inherit;
  font-size: 1em;
  border: none;
  cursor: pointer;
  box-shadow: -6px 6px 0 var(--boxshadow-button);
  transition: all 0.08s cubic-bezier(0.3, 0.7, 0.4, 1);
  text-decoration: none;
  width: fit-content;
}


.getInTouch:hover {
  background-color:var(--button-hover-bg);
  transform: translate(-1px, 1px);
  box-shadow: -5px 5px 0 var(--boxshadow-button);
}

.getInTouch:active {
  transform: translate(-6px, 6px);
  box-shadow: 0px 0px 0 var(--boxshadow-button);
} */

.resumeWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
  padding-bottom: 0.5em;
}

.resumeWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--bg-btn-sec);
  transition: width 0.4s ease-out;
}

.resumeWrapper:hover::after {
  width: 100%;
}

.resume-button {
  color: var(--bg-btn-sec);
  font-size: 2em;
  text-decoration: none;
}



.resumeIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.4s ease-out;
}

resumeWrapper:hover .resumeIcon {
  transform: translateX(4px);
}


  
.copyrightWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em; 
  width: 100%;

}

.footerCopyright {
  font-size: 0.875em;
}




